
  @keyframes rotateBulb {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    z-index:2;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotateBulb 20s infinite;
    opacity: 0.8;
  }


  #blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    backdrop-filter: blur(12vmax);
    overflow: hidden;
  }



  
  