@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.threeContainer{
    position: absolute;
    z-index:999;
    font-family: 'Poppins', sans-serif;
    width:15em;
}

.TypingAnimation::before,
.TypingAnimation::after{
    content:'';
    position: absolute;
    top:0;
    right:0; 
    bottom:0;
    left:0;
}
.TypingAnimation::before{
    background: #222222;
    animation: typewriter 5s steps(15) 1s forwards;
}
.TypingAnimation{
    font-size: 15px;

}
.TypingAnimation::after{
    width:0.125em;
    background:#FEFCF3;
    animation: 
        typewriter 5s steps(15) 1s forwards,
        blink 750ms steps(15) infinite,

}

@keyframes typewriter{
    to{left:100%;}
}
@keyframes blink{
    to{
        background: transparent;
    }
}

